div#square {
  background: red;
  width: 20vw;
  height: 10vh;

  /* margin---------- */
  margin: 20px;
  /* border---------- */
  border: 1rem solid black;
  /* padding--------- */
  padding: 30px;
  /* display--------- */
  
  /* box model------- */
  box-sizing: content-box;
  /* box-sizing: border-box; */

  /* positioning */
  position: relative;
  display: inline-block;
  /* bottom: 0; */
}

div#rectangle {
  background: green;
  width: 15rem;
  height: 10rem;

  /* margin---------- */

  /* border---------- */

  /* padding--------- */

  /* display--------- */

  /* box model------- */
  /* box-sizing: content-box; */
  /* box-sizing: border-box; */

  /* positioning */
  position: relative;
  display: inline-block;
  /* float: left; */
  /* top: 0; */
  bottom: 50px;
  left: 500px
}

/* ignore until you get to positioning */
div.divs {
  height: 200px;
  /* position: block; */
  /* position: relative; */
  /* display: inline; */
}

a {
  height: 5rem;
  width: 5rem;
  border: 0.1rem solid black;

  /* default, width height ignored */
  display: inline;

  /* width respected, height weird */
  /* display: inline-block; */

  /* on new line always, width height respected */
  /* display: block; */
}

span.vivid {
  font-weight: bold;
  color: purple;
}

img{
  display: inline;
}

#sticky {
  height: 5rem;
  width: 5rem;
  background: blue;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}